:root {
    --main-color: #27ae60;
    --dark-color: #192a56;
    --light-color: #666;
    --box-shodow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: 'Domine', serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    border: none;
    transition: all 0.3s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

section:nth-child(even) {
    background-color: #eee;
}

.sub-heading {
    text-align: center;
    color: var(--main-color);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading {
    text-align: center;
    color: var(--dark-color);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: var(--dark-color);
    border: 0.1rem solid var(--main-color);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover {
    background-image: linear-gradient(to right, var(--main-color), var(--light-color));
    color: #fff;
    letter-spacing: 0.1rem;
}

/* header */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: var(--box-shodow);
}

header .logo {
    color: var(--dark-color);
    font-weight: bolder;
    font-size: 2.5rem;
}

header .logo i {
    color: var(--main-color);
    padding-right: 6px;
}

header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background-color: var(--main-color);
}

header .icons a,
header .icons i {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    text-align: center;
    font-size: 1.7rem;
    color: var(--dark-color);
    background-color: #eee;
}

header .icons a:hover,
header .icons i:hover {
    color: #fff;
    background-color: var(--main-color);
    transform: rotate(360deg);
}

header .icons #menue-bars {
    display: none;
}

/* search */
#search-from {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-from.active {
    top: 0;
}

#search-from #search-box {
    width: 50rem;
    border-bottom: 0.1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-from #search-box::placeholder {
    color: #eee;
}

#search-from #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#search-from label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-from label:hover {
    color: var(--main-color);
}

#search-from #close {
    position: absolute;
    color: #fff;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
    font-size: 5rem;
}

/* Home Section */
.home .home-slider .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}

.home .home-slider .slide .content {
    flex: 1 1 45rem;
}

.home .home-slider .slide .content span {
    color: var(--main-color);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3 {
    color: var(--dark-color);
    font-size: 7rem;
}

.home .home-slider .slide .content p {
    color: var(--light-color);
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.home .home-slider .slide .image {
    flex: 1 1 45rem;
}

.home .home-slider .slide .image img {
    width: 100%;

}

.swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

/* Start Dishes */
.dishes .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}

.dishes .box-container .box {
    padding: 3rem;
    background-color: #fff;
    border-radius: .5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    box-shadow: var(--box-shodow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.dishes .box-container .box #heart,
.dishes .box-container .box #eye {
    position: absolute;
    top: 1rem;
    width: 3rem;
    height: 3;
    line-height: 3rem;
    border-radius: 50%;
    background-color: #eee;
    color: var(--dark-color);
    font-size: 1.5rem;
}

.dishes .box-container .box #heart:hover,
.dishes .box-container .box #eye:hover {
    background-color: var(--main-color);
    color: #fff;
}

.dishes .box-container .box #heart {
    right: -15rem;
}

.dishes .box-container .box #eye {
    left: -15rem;
}

.dishes .box-container .box:hover #heart {
    right: 1rem;
}

.dishes .box-container .box:hover #eye {
    left: 1rem;
}

.dishes .box-container .box img {
    width: 95%;
    height: 17rem;
    margin: 1rem 0;
}

.dishes .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--dark-color);
}

.dishes .box-container .box .stars {
    padding: 1rem 0;
}

.dishes .box-container .box .stars i {
    font-size: 1.7rem;
    color: var(--main-color);
}

.dishes .box-container .box span {
    color: var(--main-color);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}

/*Start About */
.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
    height: 53rem;
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content h3 {
    color: var(--dark-color);
    font-size: 4rem;
    padding: 5rem 0;
}

.about .row .content p {
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 2;
}

.about .row .content p:first-of-type {
    padding: 0 0 2rem 0;
}

.about .row .content p:last-of-type {
    padding: 0 0 5rem 0;
}

.about .row .icons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: 0.5rem;
}

.about .row .icons-container .icons {
    background-color: #eee;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 15rem;
    padding: 1.5rem 1rem;
}

.about .row .icons-container .icons i {
    font-size: 2.5rem;
    color: var(--main-color);
}

.about .row .icons-container .icons span {
    font-size: 1.5rem;
    color: var(--dark-color);
}

/* Start Menu  */
.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    background-color: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: var(--box-shodow);
    border-radius: 0.5rem;
}

.menu .box-container .box .image {
    height: 25rem;
    max-width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}

.menu .box-container .image img {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}

.menu .box-container .image a {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
    background-color: #fff;
    color: var(--dark-color);
}

.menu .box-container .image a:hover {
    color: #fff;
    background-color: var(--main-color);
}

.menu .box-container .box .content {
    padding: 2rem;
    padding-top: 0;
}

.menu .box-container .box .content .stars {
    padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--main-color);
}

.menu .box-container .box .content h3 {
    color: var(--dark-color);
    font-size: 2.5rem;
}

.menu .box-container .box .content p {
    font-size: 1.6rem;
    color: var(--light-color);
    padding: 0.5rem 0;
    line-height: 1.5;
}

.menu .box-container .box .content .price {
    color: var(--main-color);
    margin-left: 2rem;
    font-size: 2.5rem;
}

/* Strat Review */
.review .slide {
    padding: 2rem;
    box-shadow: var(--box-shodow);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    position: relative;
}

.review .slide .icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 6rem;
    color: #ccc;
}

.review .slide .user {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3 {
    color: var(--dark-color);
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.review .slide .user i {
    font-size: 1.3rem;
    color: var(--main-color);
}

.review .slide p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    font-style: italic;
}

/* Start form */
.order form {
    max-width: 90rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shodow);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 1.5rem;
    margin: 0 auto;
    position: relative;
}

.order form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.order .inputBox::before {
    content: '';
    position: absolute;
    width: 0.01rem;
    height: 30rem;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2)
}

.order .inputBox::after {
    position: absolute;
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: transparent;
    border: .1rem solid rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.order form .inputBox .input {
    width: 48%;
}

.order form .inputBox .input span {
    display: block;
    font-size: 1.5rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea {
    background-color: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--dark-color);
    text-transform: none;
    margin-bottom: 1rem;
    width: 95%;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus {
    border: .1rem solid var(--main-color);
}

.order form .inputBox .input textarea {
    height: 20rem;
    resize: none;
}

.order form .btn {
    margin-top: 0;
}

/* Start Footer */
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 0.5rem 0;
    color: var(--dark-color);
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    color: var(--light-color);
}

.footer .box-container .box a:hover {
    color: var(--main-color);
    padding-left: 0.5rem;
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    color: var(--dark-color);
    padding: 0.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span {
    color: var(--main-color);
}

.footer .credit p {
    color: var(--light-color);
    margin-top: 1rem;
    font-size: 1rem;
}

/* Start Loader */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img {
    width: 35rem;
}

.loader-container.fade-out {
    top: -110%;
    opacity: 0;
}

/* Media Queriers */
@media(max-width:991px) {

    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media(max-width:768px) {
    header .icons #menue-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem 0;
        font-size: 2rem;
        background-color: #eee;
    }

    #search-from #search-box {
        width: 90%;
        margin: 0 1rem;
    }

    .home .home-slider .slide .content h3 {
        font-size: 5rem;
    }
}

@media(max-width:450px) {

    html {
        font-size: 50%;
    }

    .dishes .box-container .box img {
        width: 100%;
        height: auto;
    }

    .order form .inputBox .input {
        width: 100%;
    }

    .order form .inputBox::before,
    .order form .inputBox::after {
        display: none;
    }
}